/* main style */
html, body {
    width:100%;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oleo Script', cursive;
}

/* custom classes */

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.black-border {
    border: 1px solid black;
}

.no-underline {
    text-decoration: none !important
}

.nav-padding {
    padding: 0 10%;
}

.bg-lightgrey {
    background: #d3d3d3;;
}

/* typography */

.text-lightgrey {
    color: #d3d3d3;
}

.card-footer > p {
    margin-top: 1rem;
}

/* buttons */

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding: 0.1rem;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
}

.btn-lightgrey {
    color: black;
    background-color: #d3d3d3;
    border-color: #a3a3a3;
}

.btn-empty-lightgrey {
    color: black;
    border-color: #a3a3a3;
}

.btn-lightgrey:hover, .btn-empty-lightgrey:hover {
    background-color: #c3c3c3;
}

